@charset 'utf-8';
*{
    margin: 0;
    padding: 0;
}

.container{
    width: 600px;
    height: 600px;
    box-shadow: 0 5px 5px 5px #000;
    margin: 10px auto;
    padding: 30px;
    display: flex;
    flex-direction: column;
}
.wrapper{
    height: 100%;
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
}
ul{
    list-style: none;
    padding: 15px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
ul li{
    width: 75%;
    background: #87CEEB;
    line-height: 30px;
    color: #fff;
    margin: 10px 0;
    border-radius: 10px;
    text-align: left;
    padding: 0 10px;
    white-space: normal;
    word-break: break-all;
}
.wrapper ul li:nth-child(2n){
    align-self: flex-end;
    background: #FFC0CB;
}
.msg{
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}
.msg input{
    flex: 1;
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-right: 10px;
}
.msg button{
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #87CEEB;
    color: #fff;
    border-radius: 5px;
    border: none;
}
.name-box{
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 300px;
    height: 150px;
    overflow:hidden;
    border-radius: 20px;
    border: 1px solid #000;
    background-color: #fff;
    padding: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.name-box input{
    width: 80%;
    height: 30px;
    padding: 8px;
    border-radius: 10px;
    margin: 0 auto;
    border: 1px solid #87CEEB;
    margin-bottom: 10px;
}
.name-box .btn-box{
    display: flex;
    justify-content: space-between;
}
.name-box .btn-box button{
    display: block;
    width: 100px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    background: #87CEEB;
    color: #fff;
    border-radius: 5px;
    border: none;
}